<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>+wish list+</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="//bootswatch.com/paper/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>
  <div class="col-md-12">
  <div class="well well-lg">
    <button type="button" class="btn btn-primary" ui-sref="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="space"></span>h o m e</button>
    <span class="space"></span>
    <button type="button" class="btn btn-danger" ui-sref="Add"><span class= "glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="space"></span>a d d</button>
  </div>
</div>
  <ui-view></ui-view>

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/services/services.js"></script>
  <script src="/js/controllers/HomeController.js"></script>
  <script src="/js/controllers/AddController.js"></script>
  <script src="/js/controllers/DetailsController.js"></script>


</body>

</html>
