<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="container">
      <center>
        <h1><span class="glyphicon glyphicon-list-alt"></span><span class="space"></span>Your Wishlist</h1>
      </center>
    </div>
    <div class="container well">
      <center>
      <div ng-repeat="c in vm.wishlist">
      <span class="space"></span>
      <div class="box">
        <div style="font-size: large">
          <strong>{{c.itemName}}</strong>
        </div>
        <br />
        <img ng-src={{c.itemImg}} style="width: 20%;max-height: 100%;" />
        <br />
        <div style="text-align: right;">
          <strong><em>$ {{c.itemPrice | number:2}}</em></strong>
          <span class="space"></span>
        </div>
        <br />
        <a ui-sref="Details({id:c._id})"><button class="btn btn-info"><span class="glyphicon glyphicon-barcode"></span><span class="space"></span>Details</button>
        <span class="space1"></span></a>
        <a ng-href="{{c.itemURL}}" target="_blank"><button class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span><span class="space"></span>Buy</button></a>
      </div>
    </div>
    </center>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
