<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="container">
      <center>
        <h1>Login</h1>
      </center>
    </div>
    <div class="container well">
      <form class="form-inline" ng-submit="vm.login()">
        <span class="space10"></span>
        <input type="email" ng-model="vm.user.email" class="form-control" placeholder="&#xf0e0;  email" style="font-family: sans-serif, FontAwesome" />
        <span class="space1"></span>
        <input type="password" ng-model="vm.user.password" class="form-control" placeholder="&#xf084;  password" style="font-family: sans-serif, FontAwesome" />
        <br />
        <br />
        <span class="space10"></span>
        <span class="space3"></span>
        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-log-in"></span><span class="space"></span>login</button>
      </form>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
