<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="container">
      <center>
        <h1>Register</h1>
      </center>
    </div>
    <div class="container well">
      <form class="form-inline" ng-submit="vm.register()">
        <span class="space10"></span>
        <input type="email" ng-model="vm.user.name" class="form-control" placeholder="&#xf007;  name" style="font-family: sans-serif, FontAwesome" required="" />
        <span class="space1"></span>
        <input type="password" ng-model="vm.user.imageURL" class="form-control" placeholder="&#xf1c5;  profile photo url" style="font-family: sans-serif, FontAwesome" />
        <br />
        <br />
        <span class="space10"></span>
        <input type="email" ng-model="vm.user.email" class="form-control" placeholder="&#xf0e0;  email" style="font-family: sans-serif, FontAwesome" required=""/>
        <span class="space1"></span>
        <input type="password" ng-model="vm.user.password" class="form-control" placeholder="&#xf084;  password" style="font-family: sans-serif, FontAwesome" required=""/>
        <br />
        <br />
        <span class="space10"></span>
        <span class="space3"></span>
        <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span><span class="space"></span>register</button>
      </form>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
