.space {
  width:15px;
  height:auto;
  display:inline-block;
}

.space1{
  width:55px;
  height:auto;
  display:inline-block;
}

.space3{
  width:163px;
  height:auto;
  display:inline-block;
}

.space5{
  width:180px;
  height:auto;
  display:inline-block;
}

.space10{
  width:255px;
  height:auto;
  display:inline-block;
}

.space100{
  width:555px;
  height:auto;
  display:inline-block;
}

.box{
  width: 500px;
  padding: 10px;
  border: 5px solid rgb(79, 80, 80);
  margin: 0;
}

.widebox{
  width: 250px;
  padding: 10px;
  border: 5px solid rgb(79, 80, 80);
  margin: 0;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
